*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(bg.jpg);
    background-size: cover;
}
.container{
    color: whitesmoke;
    position: absolute;
    top: 35%;
    left: 40%;
}
.box{
    width: 119%;
    padding: 7px 26px;
    border-bottom: 2px solid rgb(71, 47, 177) ;
    /* display: inline-block; */
}
.box i{
    width: 18px;
    height: 20px;
}
.box input{
    background: none;
    width: 75%;
    border: none;
    outline: none;
    color: red;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#email{
    padding: 13px 12px;
    /* border: 2px solid rgb(71, 47, 177); */
    /* border-radius: 13px;*/
}
#password{
    padding: 13px 12px;
    /* border: 2px solid rgb(71, 47, 177); */
    /* border-radius: 13px; */
}
.container h1{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* border-bottom: 2px solid rgb(71, 47, 177); */
    margin-bottom: 43px;
    padding: 13px 0;
    color:whitesmoke
    /* display: inline-block; */
}
.btn{
    cursor: pointer;
    color: whitesmoke;
    outline: none;
    margin-top: 28px;
    padding: 4px 77px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 311px;
    border: none;
    /* margin-right: 150px; */
    /* border: 2px solid rgb(71, 47, 177) ;
    border-radius: 13px;
    background-color: rgb(71, 47, 177); */
    background: none;
}